@define-color rosewater #f5e0dc;
@define-color flamingo #f2cdcd;
@define-color pink #f5c2e7;
@define-color mauve #cba6f7;
@define-color red #f38ba8;
@define-color maroon #eba0ac;
@define-color peach #fab387;
@define-color yellow #f9e2af;
@define-color green #a6e3a1;
@define-color teal #94e2d5;
@define-color sky #89dceb;
@define-color sapphire #74c7ec;
@define-color blue #89b4fa;
@define-color lavender #b4befe;
@define-color text #cdd6f4;
@define-color subtext1 #bac2de;
@define-color subtext0 #a6adc8;
@define-color overlay2 #9399b2;
@define-color overlay1 #7f849c;
@define-color overlay0 #6c7086;
@define-color surface2 #585b70;
@define-color surface1 #45475a;
@define-color surface0 #313244;
@define-color base #1e1e2e;
@define-color mantle #181825;
@define-color crust #11111b;

@define-color color_bg @base;
@define-color color_bg_dark @blue;
@define-color color_border @surface1;
@define-color color_border_active #cba6f7;
@define-color color_text @blue;
@define-color color_text_focused @base;
@define-color color_urgent @red;

/* -- base styles -- */

* {
  font-family:
    JetBrainsMono Nerd Font,
    sans-serif;
  font-size: 16px;
}

#bar {
  border-radius: 0%;
}

#bar #center {
  font-family: sans-serif;
}

.window {
  border-radius: 20%;
}
.background {
  border-radius: 1em;
  padding: 0px;
}

window,
box {
  border-radius: 1em;
}

box,
menubar,
button {
  background-color: @color_bg;
  background-image: none;
  box-shadow: none;
}

button,
label {
  color: @blue;
  box-shadow: none;
}

button:hover {
  background-color: @color_bg_dark;
}

button:hover > label {
  color: @base;
}

scale trough {
  min-width: 1px;
  min-height: 2px;
}

#bar {
  border-bottom: 1px solid @color_border;
}

.popup {
  border: 1px solid @color_border;
  padding: 1em;
}

/* -- clipboard -- */

.clipboard {
  margin-left: 5px;
  font-size: 1.1em;
}

.popup-clipboard .item {
  padding-bottom: 0.3em;
  border-bottom: 1px solid @color_border;
  border-radius: 0%;
}

/* -- clock -- */

.clock {
  font-weight: normal;
  margin-left: 5px;
}

.popup-clock .calendar-clock {
  color: @color_text;
  font-size: 2.5em;
  padding-bottom: 0.1em;
}

.popup-clock .calendar {
  background-color: @color_bg;
  color: @color_text;
  border-bottom-left-radius: 5%;
  border-bottom-right-radius: 5%;
}

.popup-clock .calendar .header {
  padding-top: 1em;
  border-top: 1px solid @color_border;
  font-size: 1.5em;
}

.popup-clock .calendar:selected {
  background-color: @color_bg_dark;
  color: @color_bg;
  border-radius: 20%;
}

/* -- launcher -- */

.launcher .item {
  margin-right: 4px;
}

.launcher .ifix examtem:not(.focused):hover {
  background-color: @color_bg_dark;
}

.launcher .open {
  border-bottom: 1px solid @color_text;
}

.launcher .focused {
  border-bottom: 1px solid @color_border_active;
}

.launcher .urgent {
  border-bottom-color: @color_urgent;
}

.popup-launcher {
  padding: 0;
}

.popup-launcher .popup-item:not(:first-child) {
  border-top: 1px solid @color_border;
}

/* -- music -- */

.music:hover * {
  background-color: @color_bg_dark;
}

.popup-music .album-art {
  margin-right: 1em;
}

.popup-music .icon-box {
  margin-right: 0.4em;
}

.popup-music .title .icon,
.popup-music .title .label {
  font-size: 1.7em;
}

.popup-music .controls *:disabled {
  color: @color_border;
}

.popup-music .volume .slider slider {
  border-radius: 100%;
}

.popup-music .volume .icon {
  margin-left: 4px;
}

.popup-music .progress .slider slider {
  border-radius: 100%;
}

/* notifications */

.notifications .count {
  font-size: 0.6rem;
  background-color: @color_text;
  color: @color_bg;
  border-radius: 100%;
  margin-right: 3px;
  margin-top: 3px;
  padding-left: 4px;
  padding-right: 4px;
  opacity: 0.7;
}

/* -- script -- */

.script {
  padding-left: 10px;
}

/* -- sys_info -- */

.sysinfo {
  margin-left: 10px;
}

.sysinfo .item {
  margin-left: 5px;
}

/* -- tray -- */

.tray {
  margin-left: 10px;
}

/* -- volume -- */

.popup-volume .device-box {
  border-right: 1px solid @color_border;
}

.popup-volume .device-box .slider .top {
  color: @color_bg_dark;
}

.popup-volume .device-box slider {
  /*color: @color_bg_dark;*/
  background-color: @color_bg_dark;
}

.popup-volume .device-box highlight {
  /*color: @color_bg_dark;*/
  background-color: @color_bg_dark;
}

.popup-volume .device-box .device-selector .combo:hover box {
  background-color: @color_bg_dark;
  color: @color_bg;
}
.popup-volume .device-box .device-selector menu {
  background-color: @color_bg;
  color: @color_bg_dark;
}
.popup-volume .device-box .device-selector menuitem:hover {
  background-color: @color_bg_dark;
  color: @color_bg;
}

/* -- workspaces -- */

.workspaces .item.focused {
  background-color: transparent;
}

.workspaces .item.focused > label {
  color: @green;
}

/* -- custom: power menu -- */

.popup-power-menu #header {
  font-size: 1.2em;
  padding-bottom: 0.4em;
  margin-bottom: 0.6em;
  border-bottom: 1px solid @color_border;
}

.popup-power-menu .power-btn {
  /*border: 1px solid @color_border;*/
  border-radius: 20%;
  padding: 0.3em 1em;
  margin: 0.3em;
}

.popup-power-menu #buttons > *:nth-child(1) .power-btn {
  margin-right: 1em;
}
