@use "ironbar_colors";

$color_text: ironbar_colors.$text;
$color_text_focused: ironbar_colors.$bg;
$color_bg: ironbar_colors.$bg;
$color_btn_hover_bg: ironbar_colors.$btnHoverBg;
$color_btn_hover_fg: ironbar_colors.$btnHoverFg;
$color_border: ironbar_colors.$inactiveBorder2;
$color_active_workspace: ironbar_colors.$activeWorkspace;
$color_inactive_workspace: ironbar_colors.$inactiveWorkspace;
$color_border_active: ironbar_colors.$purple;
$color_urgent: ironbar_colors.$red;
$font-family:
  JetBrainsMono Nerd Font,
  sans-serif;

/* -- base styles -- */
* {
  font-family: $font-family;
  font-weight: normal;
  font-size: 16px;
}

#bar {
  border-radius: 0%;
  border-bottom: 1px solid $color_border;
  // #center {
  //   font-family: $font-family_2;
  // }
}
.window {
  border-radius: 20%;
}
.background {
  border-radius: 1em;
  padding: 0px;
}
window {
  border-radius: 1em;
}
box {
  border-radius: 1em;
  background-color: $color_bg;
  background-image: none;
  box-shadow: none;
}
menubar {
  background-color: $color_bg;
  background-image: none;
  box-shadow: none;
}
button {
  transition-timing-function: linear;
  background-color: $color_bg;
  background-image: none;
  box-shadow: none;
  color: $color_text;
  box-shadow: none;
  .item {
    transition-duration: 0.2s;
    transition-timing-function: linear;
  }
  box {
    transition-duration: 0.2s;
    transition-timing-function: linear;
  }
  &:hover {
    background-color: $color_btn_hover_bg;
    label {
      color: $color_btn_hover_fg;
    }
    box {
      background-color: $color_btn_hover_bg;
      color: $color_btn_hover_fg;
    }
  }
}
label {
  color: $color_text;
  box-shadow: none;
}
scale {
  trough {
    min-width: 1px;
    min-height: 2px;
    slider {
    }
  }
}
.popup {
  border: 1px solid $color_border;
  padding: 1em;
}

/* -- clipboard -- */
.clipboard {
  margin-left: 5px;
  font-size: 1.1em;
}
.popup-clipboard {
  .item {
    padding-bottom: 0.3em;
    border-bottom: 1px solid $color_border;
    border-radius: 0%;
  }
}

/* -- clock -- */
.clock {
  font-weight: normal;
  margin-left: 5px;
}
.popup-clock {
  .calendar-clock {
    color: $color_text;
    font-size: 2.5em;
    padding-bottom: 0.1em;
  }
  .calendar {
    background-color: $color_bg;
    color: $color_text;
    border-bottom-left-radius: 5%;
    border-bottom-right-radius: 5%;
    .header {
      padding-top: 1em;
      border-top: 1px solid $color_border;
      font-size: 1.5em;
    }
    &:selected {
      background-color: $color_btn_hover_bg;
      color: $color_btn_hover_fg;
      border-radius: 20%;
    }
  }
}

/* -- launcher -- */
.launcher {
  .item {
    margin-right: 4px;
  }
  .ifix {
    examtem {
      &:not(.focused) {
        &:hover {
          background-color: $color_btn_hover_bg;
        }
      }
    }
  }
  .open {
    border-bottom: 1px solid $color_text;
  }
  .focused {
    border-bottom: 1px solid $color_border_active;
  }
  .urgent {
    border-bottom-color: $color_urgent;
  }
}
.popup-launcher {
  padding: 0;
  .popup-item {
    &:not(:first-child) {
      border-top: 1px solid $color_border;
    }
  }
}

/* -- music -- */
.music {
  &:hover {
    * {
      background-color: $color_btn_hover_bg;
    }
  }
}
.popup-music {
  .album-art {
    margin-right: 1em;
  }
  .icon-box {
    margin-right: 0.4em;
  }
  .title {
    .icon {
      font-size: 1.7em;
    }
    .label {
      font-size: 1.7em;
    }
  }
  .controls {
    * {
      &:disabled {
        color: $color_border;
      }
    }
  }

  /* -- volume -- */
  .volume {
    .slider {
      slider {
        border-radius: 100%;
      }
    }
    .icon {
      margin-left: 4px;
    }
  }
  .progress {
    .slider {
      slider {
        border-radius: 100%;
      }
    }
  }
}

/* notifications */
.notifications {
  .count {
    font-size: 0.6rem;
    background-color: $color_text;
    color: $color_bg;
    border-radius: 100%;
    margin-right: 3px;
    margin-top: 3px;
    padding-left: 4px;
    padding-right: 4px;
    opacity: 0.7;
  }
}
.script {
  padding-left: 10px;
}

/* -- sys_info -- */
// .sysinfo {
//   .item {
//     font-family: $font-family;
//   }
// }

/* -- tray -- */
.tray {
  margin-left: 10px;
}

/* -- Volume -- */
.popup-volume {
  .slider {
    .top {
      color: $color_btn_hover_fg;
    }
  }
  slider {
    background-color: $color_btn_hover_bg;
  }
  highlight {
    background-color: $color_btn_hover_bg;
  }
  .device-box {
    border-right: 1px solid $color_border;
    .device-selector {
      .combo {
        &:hover {
          box {
            background-color: $color_btn_hover_bg;
            color: $color_btn_hover_fg;
          }
        }
      }
      menu {
        background-color: $color_bg;
        color: $color_btn_hover_fg;
      }
      menuitem {
        &:hover {
          background-color: $color_btn_hover_bg;
          color: $color_btn_hover_fg;
        }
      }
    }
  }
}

/* -- workspaces -- */
.workspaces {
  label {
    color: $color_inactive_workspace;
  }
  .item.focused {
    background-color: transparent;
    > label {
      color: $color_active_workspace;
    }
  }
}

/* -- custom: power menu -- */
.popup-power-menu {
  #header {
    font-size: 1.2em;
    padding-bottom: 0.4em;
    margin-bottom: 0.6em;
    border-bottom: 1px solid $color_border;
  }
  #profile-pic {
    margin-bottom: 0.6em;
  }
  .power-btn {
    border-radius: 20%;
    padding: 0.1em 1em;
    margin: 0.3em;
  }
  #buttons {
    > * {
      &:nth-child(1) {
        .power-btn {
          margin-right: 1em;
        }
      }
    }
  }
}
